.input {
  outline: none;
  border: none;
  border-radius: 8px;
  height: 50px;
  width: 100%;
  display: inline-flex;
  align-items: center;
  padding: 0 10px;
  background-color: var(--color-gray1);

  &::-webkit-outer-spin-button,&::-webkit-inner-spin-button{
     -webkit-appearance: none;
     margin: 0;
  }
}
