.card{
    display: flex;
    flex-direction: column;
    background-color: var(--color-gray1);
    border-radius: 4px;
    padding: 10px;
    border-left: 5px solid;
    height: 90px;

    &.green{
        border-color: var(--color-secondary);
    }
    &.grey{
        border-color: var(--color-gray2);
    }
}

.price{
    display: flex;
    justify-content: flex-end;
}

.container{
    display: flex;
    justify-content: space-between;
}