:root{
    --color-primary:#FD377E;
    --color-primary2:#E34981;
    --color-secondary:#03B898;
    --color-gray1:#F8F9FA;
    --color-gray2:#E9ECEF;
    --color-gray3:#868E96;
    --color-gray4:#212529;
    --font-primary: 'Nunito', sans-serif;
}